* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: 35px;
  margin: 1rem 0rem;
}

p {
  font-size: 25px;
}

li {
  font-size: 25px;
}

hr {
  border: 0.5px solid black;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: white;
}

.text-underlined {
  text-decoration: underline;
}

.container {
  display: grid;
  grid-template-columns: 33.333% 66.666%;
  padding: 20px;
}

.one {
  background-color: rgb(136, 149, 185);
  padding: 16px 35px 25px;
}

.one span {
  vertical-align: middle;
}

.one h1 {
  font-size: 44px;
  margin: 1rem 0rem;
}

.one p {
 margin: 5px;
}

.two {
  background-color: rgb(232, 234, 248);
  padding: 30px 50px;
}

.text-900 {
  font-weight: 900;
}

.three {
  background-color: rgb(232, 234, 248);
  padding: 14px 35px 55px;
}

.three p {
  margin: 7px auto;
}

.three a:hover {
  text-decoration: underline;
  color: inherit;
}

.four {
  background-color: rgb(136, 149, 185, 0.7);
  padding: 14px 50px 55px;
}

.list-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.four p {
  margin: 7px auto;
}

hr {
  margin: 15px 0px;
}

small {
 font-size:16px;
}
